In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import confusion_matrix, classification_report
import pickle
from pathlib import Path
import warnings
data=pd.read_csv('telecom_churn.csv')

In [5]:
ddata=data.drop(columns =['account length','phone number','total intl calls','total day minutes','total day calls','area code','total day charge','number vmail messages','total intl minutes','total night charge','total eve minutes','total eve calls','total eve charge','total night minutes','total night calls','total intl charge'])
ddata

     state international plan voice mail plan  customer service calls  churn
0       KS                 no             yes                       1  False
1       OH                 no             yes                       1  False
2       NJ                 no              no                       0  False
3       OH                yes              no                       2  False
4       OK                yes              no                       3  False
...    ...                ...             ...                     ...    ...
3328    AZ                 no             yes                       2  False
3329    WV                 no              no                       3  False
3330    RI                 no              no                       2  False
3331    CT                yes              no                       2  False
3332    TN                 no             yes                       0  False

[3333 rows x 5 columns]

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
churn_encoded = le.fit_transform(ddata['churn'])
internationalplan_encoded = le.fit_transform(ddata['international plan'])
voicemailplan_encoded = le.fit_transform(ddata['voice mail plan'])
state_encoded = le.fit_transform(ddata['state'])
ddata['en_churn'] = churn_encoded
ddata['en_internationalplan'] = internationalplan_encoded
ddata['en_voicemailplan'] = voicemailplan_encoded
ddata['en_state'] = state_encoded
ddata
f=ddata.drop(columns =['international plan','voice mail plan','churn','state'])
f

,customer service calls,en_churn,en_internationalplan,en_voicemailplan,en_state
0,1,0,0,1,16
1,1,0,0,1,35
2,0,0,0,0,31
3,2,0,1,0,35
4,3,0,1,0,36
...,...,...,...,...,...
3328,2,0,0,1,3
3329,3,0,0,0,49
3330,2,0,0,0,39
3331,2,0,1,0,6
3332,0,0,0,1,42

In [7]:
X = f.drop('en_churn', axis = 1)
y = f['en_churn']
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [8]:
print('The number of rows and columns of x_train is: ', x_train.shape, ', while the number of rows and columns of y_train is:', y_train.shape)
print('\nChurn percentage in training data is:')
print(y_train.value_counts(normalize=True))
print('\nThe number of rows and columns of x_test is:', x_test.shape,', while the number of rows and columns of y_test is:', y_test.shape)
print('\nChurn percentage in Testing data is:')
print(y_test.value_counts(normalize=True))

The number of rows and columns of x_train is:  (2333, 4) , while the number of rows and columns of y_train is: (2333,)

Churn percentage in training data is:
0    0.854265
1    0.145735
Name: en_churn, dtype: float64

The number of rows and columns of x_test is: (1000, 4) , while the number of rows and columns of y_test is: (1000,)

Churn percentage in Testing data is:
0    0.857
1    0.143
Name: en_churn, dtype: float64

In [9]:
log_model = LogisticRegression().fit(x_train, y_train)

In [10]:
y_train_pred = log_model.predict(x_train)

In [11]:
print(classification_report(y_train, y_train_pred))

              precision    recall  f1-score   support

           0       0.87      0.98      0.92      1993
           1       0.57      0.13      0.21       340

    accuracy                           0.86      2333
   macro avg       0.72      0.55      0.56      2333
weighted avg       0.82      0.86      0.82      2333

In [ ]:
y_test_pred = log_model.predict(x_test)
print(classification_report(y_test, y_test_pred))